<div class="image-header text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= @cocktail.photo %>)">
  <h1><%= @cocktail.name.upcase %></h1>
</div>

<div class="description"><%=@cocktail.description%></div>
<h3 class="text-center">Composition</h3>
<% if @cocktail.doses.length == 0 %>
  <h4 class="text-center">No doses yet :-(</h4>
<% else %>
  <div class="cards-wrapper">
    <div class="container">

      <div class="row">
        <% @cocktail.doses.each do |dose| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.5)), url(<%= 'http://www.thecocktaildb.com/images/ingredients/' + dose.ingredient.name.gsub(' ', '%20') + '.png'%>);">
              <div class="card-delete"><%= link_to '<i class="fa fa-times"></i>'.html_safe, cocktail_dose_path(@cocktail, dose),
          method: :delete,
          data: { confirm: "Are you sure?" } %></div>
              <div class="card-title text-center"><%= dose.ingredient.name.upcase %></div>
              <div class="card-description text-center"><%= dose.description %></div>
              <div class="card-link"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="text-center">
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-danger btn-lg btn-purple'%>
</div>

